
   
  .container_select {
    
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin-left: 20px;
    width: calc(100% - 240px);
  }
   
  .card_select {
    width: 20rem;
    
    border-radius: 1rem;
    border: 2px solid #F6F6F6;
    overflow: hidden;
    margin: 0 0.5rem;
  }
   
  .card-header_select{
    border-bottom: 1px solid #060404;
    padding: 1rem 1.2rem;
    background-color: #808080;
  }
   
  .title_select {
    font-size: 1rem;
    font-weight: 500;
    color: #cf2424;
    margin: 0;
  }
   
  .card-body_select{
    padding: 1rem 1.2rem
  }
   
  .checkbox-container_select {
    padding: 0.2rem;
  }
   
  label{
    font-size: 0.8rem;
    color: #f8f2f2;
    margin-left: 0.5rem;
  }
   
  .list-container_select{
    padding: 0.5rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
   
  .chip_select {
    padding: 0.3rem 1rem;
    background-color: #f5f5f5;
    border-radius: 0.2rem;
    margin: 0.2rem;
  }
   
  .chip-label_select {
    font-size: 0.7rem;
    color:#000
  }

  